In [2]:
import pandas as pd

In [ ]:
loan_details=pd.read_excel("../data/loan_details.xlsx")
loan_details['loan_amount']=loan_details['loan_amount'].replace('[\$,]', '', regex=True).astype(float)
loan_details.head()

,customer_id,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,loan_to_value_ratio,origination_channel,loan_officer_id,marketing_campaign
0,10000,Personal,17700.0,36,12.50,Debt Consolidation,0.000,Direct Mail,1045,W
1,10001,mortgage,114000.0,180,6.83,Refinance,0.774,Branch,1011,B
2,10002,Personal Loan,9300.0,36,13.99,Major Purchase,0.000,Online,1084,K
3,10003,PERSONAL,8700.0,48,13.26,Medical,0.000,Online,1048,A
4,10004,Personal,7200.0,24,10.77,Debt Consolidation,0.000,Branch,1055,S

In [37]:
loan_details.isna().sum()

customer_id            0
loan_type              0
loan_amount            0
loan_term              0
interest_rate          0
loan_purpose           0
loan_to_value_ratio    0
origination_channel    0
loan_officer_id        0
marketing_campaign     0
dtype: int64

In [3]:
loan_map = {
    'cc': 'Credit Card',
    'credit card': 'Credit Card',
    'creditcard': 'Credit Card',
    'home loan': 'Mortgage',
    'mortgage': 'Mortgage',
    'personal': 'Personal Loan',
    'personal loan': 'Personal Loan'
}
loan_details['loan_type'] = loan_details['loan_type'].str.lower().map(lambda x: loan_map.get(x, x))
print(loan_details)

       customer_id      loan_type  loan_amount  loan_term  interest_rate  \
0            10000  Personal Loan      17700.0         36          12.50
1            10001       Mortgage     114000.0        180           6.83
2            10002  Personal Loan       9300.0         36          13.99
3            10003  Personal Loan       8700.0         48          13.26
4            10004  Personal Loan       7200.0         24          10.77
...            ...            ...          ...        ...            ...
89994        99994  Personal Loan      11300.0         24           9.70
89995        99995  Personal Loan      16500.0         36          11.67
89996        99996  Personal Loan      17800.0         36          14.99
89997        99997    Credit Card      11700.0          0          19.10
89998        99998       Mortgage     487100.0        360           5.03

             loan_purpose  loan_to_value_ratio origination_channel  \
0      Debt Consolidation                0.000         Direct Mail
1               Refinance                0.774              Branch
2          Major Purchase                0.000              Online
3                 Medical                0.000              Online
4      Debt Consolidation                0.000              Branch
...                   ...                  ...                 ...
89994    Home Improvement                0.000              Branch
89995               Other                0.000              Branch
89996      Major Purchase                0.000              Online
89997    Revolving Credit                0.000              Branch
89998           Refinance                0.894              Online

       loan_officer_id marketing_campaign
0                 1045                  W
1                 1011                  B
2                 1084                  K
3                 1048                  A
4                 1055                  S
...                ...                ...
89994             1050                  O
89995             1071                  D
89996             1046                  J
89997              997                  K
89998             1003                  J

[89999 rows x 10 columns]

In [ ]:
demografics=pd.read_csv("../data/demographics.csv")
demografics['annual_income']=demografics['annual_income'].replace('[\$,]', '', regex=True).astype(float)
demografics.head()

,cust_id,age,annual_income,employment_length,employment_type,education,marital_status,num_dependents
0,10000,41,61800.0,2.2,Full-time,Graduate,Married,2
1,10001,38,28600.0,7.0,FULL_TIME,High School,Married,0
2,10002,18,20700.0,0.8,FULL_TIME,Bachelor,Single,0
3,10003,27,31400.0,4.8,Full Time,Bachelor,Single,0
4,10004,26,24600.0,5.2,Fulltime,High School,Single,0

In [40]:
demografics.isna().sum()

cust_id              0
age                  0
annual_income        0
employment_length    0
employment_type      0
education            0
marital_status       0
num_dependents       0
dtype: int64

In [39]:
demografics['employment_length'] = demografics['employment_length'].fillna(0)

In [41]:
demografics.isna().sum()

cust_id              0
age                  0
annual_income        0
employment_length    0
employment_type      0
education            0
marital_status       0
num_dependents       0
dtype: int64

In [5]:
standardized_job_types = {
    'contract': 'contract',
    'contractor': 'contract',
    'ft': 'full_time',
    'full_time': 'full_time',
    'full time': 'full_time',
    'full-time': 'full_time',
    'fulltime': 'full_time',
    'pt': 'part_time',
    'part_time': 'part_time',
    'part time': 'part_time',
    'part-time': 'part_time',
    'self_employed': 'self_employed',
    'self emp': 'self_employed',
    'self employed': 'self_employed',
    'self-employed': 'self_employed'
}

# Normalizatsiya
demografics['employment_type'] = demografics['employment_type'].str.lower().map(lambda x: standardized_job_types.get(x, x))

demografics.head()

,cust_id,age,annual_income,employment_length,employment_type,education,marital_status,num_dependents
0,10000,41,61800.0,2.2,full_time,Graduate,Married,2
1,10001,38,28600.0,7.0,full_time,High School,Married,0
2,10002,18,20700.0,0.8,full_time,Bachelor,Single,0
3,10003,27,31400.0,4.8,full_time,Bachelor,Single,0
4,10004,26,24600.0,5.2,full_time,High School,Single,0

In [31]:
geopgrafics_data=pd.read_xml("../data/geographic_data.xml")
geopgrafics_data.head()

,id,state,regional_unemployment_rate,regional_median_income,regional_median_rent,housing_price_index,cost_of_living_index,previous_zip_code
0,10000,OH,4.8,56000,1380.0,91.0,73.0,451
1,10001,PA,4.4,61000,1510.0,92.0,87.0,537
2,10002,VA,3.9,74000,1920.0,125.0,103.0,679
3,10003,CA,5.8,75000,1690.0,158.0,121.0,719
4,10004,WA,5.8,78000,1700.0,152.0,127.0,933

In [42]:
geopgrafics_data.isna().sum()

id                            0
state                         0
regional_unemployment_rate    0
regional_median_income        0
regional_median_rent          0
housing_price_index           0
cost_of_living_index          0
previous_zip_code             0
dtype: int64

In [32]:
credit_history=pd.read_parquet("../data/credit_history.parquet")
credit_history.head()

,customer_number,credit_score,num_credit_accounts,oldest_credit_line_age,oldest_account_age_months,total_credit_limit,num_delinquencies_2yrs,num_inquiries_6mo,recent_inquiry_count,num_public_records,num_collections,account_diversity_index
0,10000,696,14,22.8,273.6,169100.0,0.0,2,2,1,0,0.499
1,10001,659,13,3.5,42.0,78200.0,0.0,6,6,0,0,0.298
2,10002,662,3,0.0,0.0,41400.0,0.0,2,2,0,0,0.174
3,10003,676,8,9.0,108.0,60000.0,0.0,1,1,0,0,0.263
4,10004,678,7,8.0,96.0,49700.0,0.0,1,1,0,0,0.298

In [33]:
selected_credit_history_columns = [
    "customer_number",
    "num_credit_accounts", 
    "oldest_credit_line_age",
    "oldest_account_age_months",
    "total_credit_limit",
    "num_delinquencies_2yrs", 
    "num_inquiries_6mo",
    "recent_inquiry_count", 
    "num_public_records",
    "num_collections",
    "account_diversity_index"
]
credit_history = credit_history[selected_credit_history_columns]

In [34]:
credit_history.isna().sum()

customer_number                0
num_credit_accounts            0
oldest_credit_line_age         0
oldest_account_age_months      0
total_credit_limit             0
num_delinquencies_2yrs       832
num_inquiries_6mo              0
recent_inquiry_count           0
num_public_records             0
num_collections                0
account_diversity_index        0
dtype: int64

In [35]:
credit_history['num_delinquencies_2yrs'] = credit_history['num_delinquencies_2yrs'].fillna(0)

In [36]:
credit_history.isna().sum()

customer_number              0
num_credit_accounts          0
oldest_credit_line_age       0
oldest_account_age_months    0
total_credit_limit           0
num_delinquencies_2yrs       0
num_inquiries_6mo            0
recent_inquiry_count         0
num_public_records           0
num_collections              0
account_diversity_index      0
dtype: int64

# Financial Ratios

In [4]:
finance_ratios=pd.read_json("../data/financial_ratios.jsonl", lines=True)
finance_ratios.head()

,cust_num,monthly_income,existing_monthly_debt,monthly_payment,debt_to_income_ratio,debt_service_ratio,payment_to_income_ratio,credit_utilization,revolving_balance,credit_usage_amount,available_credit,total_monthly_debt_payment,annual_debt_payment,loan_to_annual_income,total_debt_amount,monthly_free_cash_flow
0,10000,"5,150.00",738.64,$592.13,0.258,0.258402,0.115,0.841,"$142,213.10","$142,213.10","$26,886.90",1330.77,15969.24,0.286408,"159,913.10","3,819.23"
1,10001,"2,383.33",392.21,"1,013.86",0.590,0.589959,0.425,0.971,"$75,932.20","75,932.20","$2,267.80",1406.07,16872.84,3.986014,"189,932.20",$977.26
2,10002,"1,725.00",204.07,$317.81,0.303,0.302539,0.184,0.539,22314.6,"22,314.60","$19,085.40",521.88,6262.56,0.449275,31614.6,1203.12
3,10003,"2,616.67",$288.71,234.52,0.200,0.199961,0.090,0.147,"8,820.00",8820.0,"51,180.00",523.23,6278.76,0.277070,"$17,520.00",2093.4366666666665
4,10004,"2,050.00",$248.77,334.81,0.285,0.284673,0.163,0.488,24253.6,24253.6,"25,446.40",583.58,7002.96,0.292683,"$31,453.60",1466.42

In [ ]:
finance_ratios = finance_ratios.drop(columns=["debt_to_income_ratio", "revolving_balance"])

for col in finance_ratios.columns:
    finance_ratios[col] = (
        finance_ratios[col]
        .astype(str)
        .str.replace(r"[$,]", "", regex=True)
        .replace("nan", pd.NA)
        .astype(float)
    )

## Encoding character columns

In [7]:
from sklearn.preprocessing import LabelEncoder

### Demographics

In [8]:

demografics_label_encoders = {}  
demografics_label_columns=['employment_type', 'education', 'marital_status']
for col in demografics_label_columns:
    le = LabelEncoder()
    demografics[col] = le.fit_transform(demografics[col])
    demografics_label_encoders[col] = le

In [9]:
demografics.head()

,cust_id,age,annual_income,employment_length,employment_type,education,marital_status,num_dependents
0,10000,41,61800.0,2.2,1,2,1,2
1,10001,38,28600.0,7.0,1,3,1,0
2,10002,18,20700.0,0.8,1,1,2,0
3,10003,27,31400.0,4.8,1,1,2,0
4,10004,26,24600.0,5.2,1,3,2,0

### geographics

In [11]:
geographics_label_encoder=LabelEncoder()
geopgrafics_data['state']=geographics_label_encoder.fit_transform(geopgrafics_data['state'])
geopgrafics_data.head()

,id,state,regional_unemployment_rate,regional_median_income,regional_median_rent,housing_price_index,cost_of_living_index,previous_zip_code
0,10000,13,4.8,56000,1380.0,91.0,73.0,451
1,10001,14,4.4,61000,1510.0,92.0,87.0,537
2,10002,17,3.9,74000,1920.0,125.0,103.0,679
3,10003,1,5.8,75000,1690.0,158.0,121.0,719
4,10004,18,5.8,78000,1700.0,152.0,127.0,933

### Loan details

In [12]:
loan_label_encoders = {}  
loan_label_columns=['loan_type', 'loan_purpose', 'origination_channel','marketing_campaign']
for col in loan_label_columns:
    le = LabelEncoder()
    loan_details[col] = le.fit_transform(loan_details[col])
    loan_label_encoders[col] = le 
loan_details.head()

,customer_id,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,loan_to_value_ratio,origination_channel,loan_officer_id,marketing_campaign
0,10000,2,17700.0,36,12.50,0,0.000,2,1045,22
1,10001,1,114000.0,180,6.83,6,0.774,0,1011,1
2,10002,2,9300.0,36,13.99,3,0.000,3,1084,10
3,10003,2,8700.0,48,13.26,4,0.000,3,1048,0
4,10004,2,7200.0,24,10.77,0,0.000,0,1055,18

### training model

In [ ]:
final_df = loan_details.merge(demografics, left_on='customer_id', right_on="cust_id", how='outer').merge(geopgrafics_data,left_on="customer_id",right_on="id", how='outer')
final_df.columns

Index(['customer_id', 'loan_type', 'loan_amount', 'loan_term', 'interest_rate',
       'loan_purpose', 'loan_to_value_ratio', 'origination_channel',
       'loan_officer_id', 'marketing_campaign', 'cust_id', 'age',
       'annual_income', 'employment_length', 'employment_type', 'education',
       'marital_status', 'num_dependents', 'id', 'state',
       'regional_unemployment_rate', 'regional_median_income',
       'regional_median_rent', 'housing_price_index', 'cost_of_living_index',
       'previous_zip_code'],
      dtype='object')

In [20]:
application_data = pd.read_csv("/Users/muhammadjafar/Documents/coding-challange/data/application_metadata.csv")
y=application_data['default']
y

0        0
1        1
2        0
3        0
4        0
        ..
89994    0
89995    0
89996    1
89997    0
89998    0
Name: default, Length: 89999, dtype: int64

In [22]:
X = final_df.drop([ 'customer_id', 'cust_id', 'id'], axis=1)

In [23]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, stratify=y, random_state=42
)

In [27]:
from xgboost import XGBClassifier
from sklearn.model_selection import StratifiedKFold, cross_val_score
from sklearn.metrics import f1_score, make_scorer
from collections import Counter
ratio = Counter(y_train)[0] / Counter(y_train)[1]

model = XGBClassifier(
    n_estimators=200,
    max_depth=6,
    learning_rate=0.1,
    random_state=42,
    eval_metric='logloss',
    scale_pos_weight=ratio
)



cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
f1 = cross_val_score(model, X_train, y_train, cv=cv, scoring=make_scorer(f1_score))
print("Mean F1-score:", f1.mean())

Mean F1-score: 0.23058947776295677

In [28]:
from sklearn.model_selection import cross_val_score
from sklearn.metrics import roc_auc_score

roc_auc = cross_val_score(model, X_train, y_train, cv=cv, scoring='roc_auc')
print("Mean ROC-AUC:", roc_auc.mean())

Mean ROC-AUC: 0.7593167438271402

In [29]:
model.fit(X_train, y_train)

# Feature importance
import pandas as pd
feat_importance = pd.DataFrame({
    'feature': X_train.columns,
    'importance': model.feature_importances_
}).sort_values(by='importance', ascending=False)

print(feat_importance)

                       feature  importance
10               annual_income    0.141454
9                          age    0.101135
0                    loan_type    0.059359
1                  loan_amount    0.056465
3                interest_rate    0.043255
2                    loan_term    0.040560
13                   education    0.038915
4                 loan_purpose    0.036202
6          origination_channel    0.035894
16                       state    0.035757
17  regional_unemployment_rate    0.034864
22           previous_zip_code    0.034840
11           employment_length    0.034274
14              marital_status    0.034254
8           marketing_campaign    0.033356
19        regional_median_rent    0.032489
20         housing_price_index    0.031711
12             employment_type    0.031075
7              loan_officer_id    0.030352
18      regional_median_income    0.029846
21        cost_of_living_index    0.029441
15              num_dependents    0.028059
5          loan_to_value_ratio    0.026443

In [30]:
y_pred = model.predict(X_test)

from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.97      0.82      0.89     17081
           1       0.15      0.57      0.23       919

    accuracy                           0.81     18000
   macro avg       0.56      0.70      0.56     18000
weighted avg       0.93      0.81      0.86     18000